<!-- main/templates/main/home.html -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мое Приложение с IOPaint</title>
    {% load static %}  <!-- Добавьте эту строку -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Правильный путь к вашему CSS -->
</head>
<body>
    <header>
        <h1>Добро пожаловать в Мое Приложение с IOPaint</h1>
    </header>
    <main>
        <div class="iopaint-container">
            <iframe src="http://localhost:8080/" title="IOPaint Canvas" width=800px height=600px frameborder="0"></iframe>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 PetDraw</p>
    </footer>
</body>
</html>
