{% extends "back.html" %}

{% block title %}PetDraw | Главная страница{% endblock %}

{% block content %}
<div class="container">
    <h2>Добро пожаловать в PetDraw!</h2>
    {% if user.is_authenticated %}
        <p>С Возвращением, {{ user.name }}!</p>
        <div class="auth-links">
            <a href="{% url 'deletor' %}" class="button">Удалить лишнее с фото</a>
            <p> или попробовать сервис </p>
            <a href="{% url 'generator' %}" class="button">генерации текстур вершин</a>
        </div>
    {% else %}
        <p>
            Привет! Чтобы начать пользоваться нашим сервисом по удалению лишних элементов с фотографий с помощью искусственного интеллекта,
            вам необходимо <strong>зарегистрироваться</strong> или <strong>авторизоваться</strong>. Перейдите по одной из ссылок ниже:
        </p>

        <div class="auth-links">
            <a href="{% url 'login' %}" class="button">Войти</a>
            <a href="{% url 'register' %}" class="button">Зарегистрироваться</a>
        </div>

        <p>
            После регистрации или авторизации, вы сможете загружать свои изображения и использовать AI для их редактирования в режиме реального времени.
        </p>
    {% endif %}
</div>
{% endblock %}
