{% extends "back.html" %}

{% block title %}PetDraw | Сменить пароль{% endblock %}

{% block content %}
<div class="login-container">
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <label for="old_password">Старый пароль:</label>
            <input type="password" name="old_password" id="old_password" required>
            <br>
            <label for="new_password">Новый пароль:</label>
            <input type="password" name="password" id="new_password" required>
            <br>
            <label for="repeat_new_password">Повтор пароль:</label>
            <input type="password" name="password" id="repeat_new_password" required>
            <br>
            {% if error %}
                <p class="error-message">*{{ error }}</p>
            {% endif %}
            {% if message %}
                <p class="success-message">*{{ message }}</p>
            {% endif %}
            <button type="submit">Сменить</button>
        </form>
    {% else %}
        <div class="auth-links">
            <a href="{% url 'home' %}" class="button">На главную</a>
        </div>
    {% endif %}

</div>
{% endblock %}
